@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,400,500,600,700,100i,200i,300i,400i,500i,600i,700i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Upright:300,400,500,600,700&display=swap);





body {
  font-family: Josefin Sans;
}
.display-1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.25rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.6rem;
}
.display-4 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.2rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-5 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.8rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-7 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
}
.display-7 > .mbr-iconfont {
  font-size: 2.08rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-sm {
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #f9e2af !important;
}
.bg-success {
  background-color: #98e38d !important;
}
.bg-info {
  background-color: #69b9d0 !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #f9e2af !important;
  border-color: #f9e2af !important;
  color: #9d700c !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #9d700c !important;
  background-color: #f4c868 !important;
  border-color: #f4c868 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #9d700c !important;
  background-color: #f4c868 !important;
  border-color: #f4c868 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #f5aeb5 !important;
  border-color: #f5aeb5 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #ed6a77 !important;
  border-color: #ed6a77 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ed6a77 !important;
  border-color: #ed6a77 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #69b9d0 !important;
  border-color: #69b9d0 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #3898b4 !important;
  border-color: #3898b4 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #3898b4 !important;
  border-color: #3898b4 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #98e38d !important;
  border-color: #98e38d !important;
  color: #1f5b16 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #f2c050;
  color: #f2c050;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #9d700c;
  background-color: #f9e2af;
  border-color: #f9e2af;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #9d700c !important;
  background-color: #f9e2af !important;
  border-color: #f9e2af !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #ea5362;
  color: #ea5362;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #f5aeb5;
  border-color: #f5aeb5;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f5aeb5 !important;
  border-color: #f5aeb5 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3288a1;
  color: #3288a1;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #69b9d0;
  border-color: #69b9d0;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #69b9d0 !important;
  border-color: #69b9d0 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #4ecf3b;
  color: #4ecf3b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #1f5b16;
  background-color: #98e38d;
  border-color: #98e38d;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #1f5b16 !important;
  background-color: #98e38d !important;
  border-color: #98e38d !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #8e8e8e;
  color: #8e8e8e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #111111;
  color: #111111;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #f9e2af !important;
}
.text-secondary {
  color: #f5aeb5 !important;
}
.text-success {
  color: #98e38d !important;
}
.text-info {
  color: #69b9d0 !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #f2c050 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #ea5362 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #4ecf3b !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3288a1 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8e8e8e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #98e38d;
}
.alert-info {
  background-color: #69b9d0;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #444444;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f9e2af;
  border-color: #f9e2af;
  color: #b5810e;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #f9e2af;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a {
  border: 2px solid #ffbc00;
}
#scrollToTop a i:before {
  background: #ffbc00;
}
#scrollToTop a i:after {
  border-top: 2px solid #ffbc00;
  border-right: 2px solid #ffbc00;
}
.mbr-arrow a i {
  color: #ffbc00;
}
.form-control {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
}
.form-control > .mbr-iconfont {
  font-size: 2.08rem;
}
blockquote {
  border-color: #f9e2af;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f9e2af;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-number__spin {
  border-radius: 0;
  background-color: #efefef;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f9e2af;
  border-bottom-color: #f9e2af;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #f9e2af !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f5aeb5 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f9e2af' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-s3j4lHMwm4 .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #efefef;
  background: none;
}
.cid-s3j4lHMwm4 .navbar.opened {
  transition: all .3s;
  background: #efefef !important;
}
.cid-s3j4lHMwm4 .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-s3j4lHMwm4 .navbar .navbar-buttons {
  flex-wrap: wrap;
}
.cid-s3j4lHMwm4 .navbar .navbar-collapse {
  transition: none;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-s3j4lHMwm4 .navbar.collapsed {
  flex-wrap: nowrap;
}
.cid-s3j4lHMwm4 .navbar.collapsed.opened {
  text-align: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  max-width: 20rem ;
  height: 100vh;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-s3j4lHMwm4 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-s3j4lHMwm4 .navbar.collapsed.opened .navbar-toggler {
  -webkit-order: -1;
  order: -1;
  -webkit-align-self: flex-end !important;
  align-self: flex-end !important;
  margin: 1rem 0 0 0;
}
.cid-s3j4lHMwm4 .navbar.collapsed.opened .navbar-collapse {
  -webkit-flex-basis: initial;
  flex-basis: initial;
}
.cid-s3j4lHMwm4 .navbar.collapsed.opened .navbar-collapse.show,
.cid-s3j4lHMwm4 .navbar.collapsed.opened .navbar-collapse.collapsing {
  display: block;
}
.cid-s3j4lHMwm4 .navbar.collapsed:not(.opened) {
  flex-direction: row !important;
}
.cid-s3j4lHMwm4 .navbar.collapsed:not(.opened) .navbar-collapse {
  display: none !important;
}
.cid-s3j4lHMwm4 .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-s3j4lHMwm4 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s3j4lHMwm4 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s3j4lHMwm4 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s3j4lHMwm4 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s3j4lHMwm4 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-s3j4lHMwm4 .navbar {
    flex-wrap: nowrap;
  }
  .cid-s3j4lHMwm4 .navbar.opened {
    text-align: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-left: auto;
    max-width: 20rem ;
    height: 100vh;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .cid-s3j4lHMwm4 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s3j4lHMwm4 .navbar.opened .navbar-toggler {
    -webkit-order: -1;
    order: -1;
    -webkit-align-self: flex-end !important;
    align-self: flex-end !important;
    margin: 1rem 0 0 0;
  }
  .cid-s3j4lHMwm4 .navbar.opened .navbar-collapse {
    -webkit-flex-basis: initial;
    flex-basis: initial;
    height: auto !important;
    max-height: 100vh;
  }
  .cid-s3j4lHMwm4 .navbar.opened .navbar-collapse.show,
  .cid-s3j4lHMwm4 .navbar.opened .navbar-collapse.collapsing {
    display: block;
  }
  .cid-s3j4lHMwm4 .navbar:not(.opened) .navbar-collapse {
    display: none !important;
  }
  .cid-s3j4lHMwm4 .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-s3j4lHMwm4 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s3j4lHMwm4 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s3j4lHMwm4 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s3j4lHMwm4 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s3j4lHMwm4 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s3j4lHMwm4 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
  .cid-s3j4lHMwm4 .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    word-break: break-word;
  }
}
.cid-s3j4lHMwm4 .navbar.navbar-short {
  background: #efefef !important;
  min-height: 60px;
}
.cid-s3j4lHMwm4 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s3j4lHMwm4 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s3j4lHMwm4 .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s3j4lHMwm4 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s3j4lHMwm4 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s3j4lHMwm4 .dropdown-item.active,
.cid-s3j4lHMwm4 .dropdown-item:active {
  background-color: transparent;
}
.cid-s3j4lHMwm4 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s3j4lHMwm4 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s3j4lHMwm4 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s3j4lHMwm4 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #efefef;
}
.cid-s3j4lHMwm4 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s3j4lHMwm4 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s3j4lHMwm4 ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-s3j4lHMwm4 .navbar-buttons {
  text-align: center;
}
.cid-s3j4lHMwm4 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s3j4lHMwm4 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-s3j4lHMwm4 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s3j4lHMwm4 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s3j4lHMwm4 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s3j4lHMwm4 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s3j4lHMwm4 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s3j4lHMwm4 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s3j4lHMwm4 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s3j4lHMwm4 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s3j4lHMwm4 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s3j4lHMwm4 a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  letter-spacing: 2px;
}
.cid-s3j4lHMwm4 a.nav-link:focus {
  outline: none;
}
.cid-s3j4lHMwm4 .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s3j4lHMwm4 .nav-link:hover,
.cid-s3j4lHMwm4 .dropdown-item:hover {
  color: #c1c1c1 !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s3j4lHMwm4 .navbar-dropdown.collapsed.opened {
    left: auto;
  }
  .cid-s3j4lHMwm4 .navbar-dropdown.collapsed.opened .navbar-collapse {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
.cid-s3j6KYjcTU {
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-s3j6KYjcTU .mbr-overlay {
  background: #232323;
}
.cid-s3j6KYjcTU .mbr-section-title {
  letter-spacing: .5rem;
}
.cid-s3j7GF8npu {
  padding-top: 90px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/background6.jpg");
}
.cid-s3j7GF8npu .mbr-section-title {
  letter-spacing: 0.1em;
  text-align: center;
}
.cid-s3j7GF8npu .mbr-section-subtitle {
  color: #f9e2af;
}
.cid-s3j7GF8npu .image-wrap img {
  width: 100%;
}
.cid-s3j7GF8npu .mbr-desc {
  width: 100%;
}
.cid-s3j7GF8npu .tab-content {
  padding: 4rem 3rem 3rem 3rem;
  border-top: 3px solid #f9e2af;
  -webkit-box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}
.cid-s3j7GF8npu .nav {
  border: none;
}
.cid-s3j7GF8npu .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-s3j7GF8npu .card-box {
  -webkit-align-items: baseline;
  align-items: baseline;
}
.cid-s3j7GF8npu .card-box .mbr-price {
  margin: 0;
}
.cid-s3j7GF8npu .card-box .mbr-text {
  line-height: 1;
}
.cid-s3j7GF8npu .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  padding: .5rem 1rem;
  margin: 0px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  margin-bottom: 1rem;
  transition: all .5s;
  border: 0 !important;
}
.cid-s3j7GF8npu .nav-tabs .nav-link:hover {
  color: #f9e2af;
  border: 0 !important;
}
.cid-s3j7GF8npu .nav-tabs .nav-link.active {
  color: #f9e2af;
  border: 0 !important;
  background-color: transparent;
  position: relative;
}
@media (max-width: 767px) {
  .cid-s3j7GF8npu .container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
.cid-s3j7Wmqa4P {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/background8.jpg");
}
.cid-s3j7Wmqa4P *:focus {
  outline: none;
  box-shadow: none;
}
.cid-s3j7Wmqa4P .form-control {
  width: 100%;
  background: #ffffff;
  border-radius: 0;
  border: none;
  min-height: 47px;
}
.cid-s3j7Wmqa4P .form-control::-webkit-input-placeholder {
  color: #000000;
}
.cid-s3j7Wmqa4P .form-control::-moz-placeholder {
  color: #000000;
}
.cid-s3j7Wmqa4P .form-control:-ms-input-placeholder {
  color: #000000;
}
.cid-s3j7Wmqa4P .form-control:-moz-placeholder {
  color: #000000;
}
.cid-s3j7Wmqa4P input.form-control {
  padding: .5rem;
}
.cid-s3j7Wmqa4P .soc-item {
  display: inline-block;
  margin: 0 .1rem .2rem .1rem;
  padding: 10px 11px 0 11px;
  border: 2px solid #f9e2af;
  border-radius: 50%;
}
.cid-s3j7Wmqa4P .soc-item:hover {
  opacity: .5;
}
.cid-s3j7Wmqa4P .soc-item .socicon {
  font-size: 1.5rem;
  color: #f9e2af;
}
.cid-s3j7Wmqa4P .days-column,
.cid-s3j7Wmqa4P .hours-column {
  display: inline-block;
}
.cid-s3j7Wmqa4P .days-column span,
.cid-s3j7Wmqa4P .hours-column span {
  display: block;
}
@media (max-width: 767px) {
  .cid-s3j7Wmqa4P .days-column {
    padding-right: 0 !important;
  }
  .cid-s3j7Wmqa4P .hours-column {
    max-width: 50% !important;
  }
  .cid-s3j7Wmqa4P .opening-hours {
    padding-bottom: 48px !important;
  }
}
